:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}


*{
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: Poppins, sans-serif;

    box-sizing: border-box;

}





html{ 
    font-size: 15px; 

    @media screen and (max-width: 768px) {
        font-size: 10px;
    }

    // background: url(../public/rocket.svg) no-repeat center center;


    @media screen and (max-width: 630px) {
        font-size: 8px;
    }
}


h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--gray-800);
}

h1{
    font-size: 2rem;
}
